$primary: #15B3B2;
$border-radius: .5rem;
$warning: #FF8640;
// Required
@import "node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/custom-forms";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/button-group";

@import "../../node_modules/bootstrap/scss/utilities";

.img-overly {
    position: absolute;
    width: 50%;
    overflow: hidden;
    top: 0;
    bottom: 0;
}

.slider-btn-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.slider-btn {
    cursor: e-resize;
    position: absolute;
    height: 100%;
    width: 4px;
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.slider-btn::after {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    background-color: #f8f9fa;
    top: 50%;
    right: -8px;
    transform: rotate(45deg);
}

.pixelate {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.toast {
    margin: .5rem;
    z-index: 9000;
    top: 0;
    right: 0;
    border: 1px solid $primary;
}

.toast-header {
    border-bottom: 0;
}

.color {
    cursor: pointer;
}

.color div {
    display: inline-block;
    height: 35px;
    width: 35px;
}

.color:hover {
    transform: scale(1.1);
    transition: transform .3s cubic-bezier(.59, 1.95, .38, .27);
}

.drop_zone {
    cursor: pointer;
    border: 2px dashed $gray-500;
}

.b1 {
    background-image: url('../assets/Asset2.png'), url('../assets/Asset3.png');
    background-repeat: no-repeat;
    background-position: right top, -55px 50%;
    background-origin: border-box;
    background-size: 40% auto, 100px auto;
}

.b2 {
    background-image: url('../assets/Asset3.png');
    background-repeat: no-repeat;
    background-position: -55px 0;
    background-origin: border-box;
    background-size: 100px auto;
}

.b3 {
    background-image: url('../assets/Asset3.png');
    background-repeat: no-repeat;
    background-position: calc(100% + 50px) 30%;
    background-origin: border-box;
    background-size: 100px auto;
}

.b4 {
    background-image: url('../assets/Asset3.png'), url('../assets/Asset4.png');
    background-repeat: no-repeat;
    background-position: -30px 50%, 100% 101%;
    background-origin: border-box;
    background-size: 100px auto, 300px auto;
}

.vh-lg-100 {
    height: auto;
}

@include media-breakpoint-up(sm) {
    .vh-lg-100 {
        height: 100vh;
    }
}