// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/custom-forms";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/button-group";

@import "../../node_modules/bootstrap/scss/utilities";

.color {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px;
}

.color:hover {
   transform: scale(1.4);
   transition: transform .3s cubic-bezier(.59,1.95,.38,.27);
}

.drop_zone {
    cursor: pointer;
}

// image slide  -------------------------------

.slider {
    width: 100%;
    height: auto;
    padding: 0;
    position: relative
}

.slider .right.image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0
}

.slider .left.image {
    position: relative;
    z-index: 2;
    border-right: 3px solid white;
    margin-right: -5px;
    overflow: hidden
}

.slider .instruction {
    position: absolute;
    top: 50%;
    z-index: 1000;
    width: 100%;
}

.slider .instruction p {
    background: rgba(255, 255, 255, 0.75);
    display: inline;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 1em;
    text-transform: uppercase
}